<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks Matter</title>
    <link rel="shortcut icon" href="/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>

    </header>
    <main>

        <aside>

            <ul class="status">

                <% if(!currentStatus) { %>
                    <li class="status-opt status-on">All</li>
                    <li class="status-opt" >Pending</li>
                    <li class="status-opt">Complete</li>
                <% } else {%>
                
                    <% if (currentStatus == 'Pending') { %>
                        <li class="status-opt">All</li>
                        <li class="status-opt status-on" >Pending</li>
                        <li class="status-opt">Complete</li>
                    <% }else{ %>
                        <li class="status-opt">All</li>
                        <li class="status-opt" >Pending</li>
                        <li class="status-opt status-on">Complete</li>
                    <% } %>
                <% } %>
                 
            </ul>

            <div class="logout">
                <button id="logout-btn">Logout</button>
            </div>

        </aside>

        <section>
            <nav>
                <ul class="category">
                    <li class="category-on category-opt">All</li>
                    <% data.category.forEach(element => { %>
                        <li class="category-opt"><%= element%></li>
                    <% }) %>
                    <li><i class="fa-regular fa-square-plus" id="add-category-btn"></i></li>
                </ul>

                <button id="add-task-btn">Add Task</button>
            </nav>

            <table class="tasks">
                <tr>
                    <th></th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Deadline</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>

                <% data.tasks.forEach(element => { %>
                    <tr class="task-row" data-id= <%= element.id %>>
                        <% if (element.status) { %>
                            <td><input type="checkbox" class="task-completion" checked></td>
                        <% } else { %>
                            <td><input type="checkbox" class="task-completion"></td>
                        <% } %>
                        <td><%= element.description  %></td>
                        <td><%= element.category %></td>
                        <td><%= element.deadline %></td>
                        <td><%= element.priority %></td>
                        <% if (element.status == true) { %>
                            <td class="task-status">Completed</td>
                        <% } else {%>
                            <td class="task-status">Pending</td>
                        <% } %>
                         
                        <td class="del-btn"><i class="fa-regular fa-trash-can"></i></td>
                        <td class="edit-btn"><i class="fa-solid fa-pen"></i></td>
                    </tr>
    
                <% }) %>
            </table>


            <!-- Add Task Form -->
            <div class="form-bg">
                <div class="task-add-form">
                    <button id="cancel-task"><i class="fa-solid fa-xmark"></i></button>
                    <form action="/tasks" method="post" id="add-task-form">

                        <label for="task">Task</label>
                        <br>
                        <input type="text" name="task" placeholder="What's the task ?">
                        <br><br>

                        <label for="cat">Category</label>
                        <br>
                        <select name="cat" id="">
                            <% data.category.forEach(element => { %>
                                <option value="<%=element%>"><%=element%></option>
                            <% }) %>
                        </select>
                        <br><br>

                        <label for="deadline">Deadline</label>
                        <br>
                        <input type="date" name="deadline" id="">
                        <br><br>

                        <label for="priority">Enter Priority</label>
                        <br>
                        <select name="priority" id="">
                            <option value="High">High</option>
                            <option value="Normal">Normal</option>
                            <option value="Low">Low</option>
                        </select>
                        <br><br>
                        <button type="submit" id="submit-task" >Create Task</button>

                    </form>
                </div>
            </div>



            <!-- Edit Task Form -->
            <div class="form-bg">
                <div class="task-edit-form">
                    <button id="cancel-edit"><i class="fa-solid fa-xmark"></i></button>
                    <form action="" id="edit-task-form">

                        <input type="hidden" id="hidden-task-id" name="id" value="">

                        <label for="task">Task</label>
                        <br>
                        <input id="edit-task-desc" type="text" name="task" placeholder="What's the task ?">
                        <br><br>

                        <label for="cat">Category</label>
                        <br>
                        <select name="cat" id="edit-task-cat">
                            <% data.category.forEach(element => { %>
                                <option value="<%=element%>"><%=element%></option>
                            <% }) %>
                        </select>
                        <br><br>

                        <label for="deadline">Deadline</label>
                        <br>
                        <input type="date" name="deadline" id="edit-task-deadline">
                        <br><br>

                        <label for="priority">Enter Priority</label>
                        <br>
                        <select name="priority" id="edit-task-priority">
                            <option value="High">High</option>
                            <option value="Normal">Normal</option>
                            <option value="Low">Low</option>
                        </select>
                        <br><br>
                        <button type="submit" id="submit-edit-task" >Edit Task</button>

                    </form>
                </div>
            </div>


            <!-- add category form -->
            <div class="form-bg">
                <div class="category-add-form">
                    <button id="cancel-category"><i class="fa-solid fa-xmark"></i></button>
                    <form action="/add-category" id="add-category-form" method="post">

                        <label for="category">Category</label>
                        <br>
                        <input id="edit-task-desc" type="text" name="category" placeholder="Add Category">
                        <br><br>

                        <button type="submit" id="submit-add-category" >Add Category</button>
                    </form>
                </div>
            </div>
        </section>


    </main>
    <footer></footer>

    <script src="/script.js"></script>

    <% if (category) { %>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const cat = '<%= category %>';
                Array.from(document.getElementsByClassName('category-opt')).forEach(element => {
                    element.classList.remove('category-on');
                    if(element.innerText == cat){
                        element.classList.add('category-on');
                    }
                });
            });
        </script>
    <% } %>

</body>

</html>